/*** Works on common browsers ***/
:root {
  --bg: black;
  --color: green;
}

body {
  margin: 0;
  font-family: monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

::selection {
  background-color: var(--color);
  color: var(--bg);
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: var(--color);
  color: var(--bg);
}

/***For Other Browsers ***/
::-o-selection {
  background-color: var(--color);
  color: var(--bg);
}

::-ms-selection {
  background-color: var(--color);
  color: var(--bg);
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: var(--color);
  color: var(--bg);
}
